# ==========================================
# CONFIGURACIÓN SUPABASE (FRONTEND NEXT.JS)
# ==========================================
NEXT_PUBLIC_SUPABASE_URL="https://zbbhdplqjltcpznceeyv.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_NKbGwPVBPgJU52RynoXn2A_xNNr0mHE"

# ==========================================
# URL DEL BACKEND NESTJS
# ==========================================
NEXT_PUBLIC_API_URL="http://localhost:3001"
