# ==========================================
# CONFIGURACIÓN SUPABASE POSTGRESQL (BACKEND)
# ==========================================

# Conexión al Pooler en modo Transacción (puerto 6543 - usado por la aplicación para alto rendimiento)
DATABASE_URL="postgresql://postgres.zbbhdplqjltcpznceeyv:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Conexión Directa en modo Sesión (puerto 5432 - requerido por Prisma para ejecutar migraciones)
DIRECT_URL="postgresql://postgres.zbbhdplqjltcpznceeyv:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

# ==========================================
# SEGURIDAD Y TOKENS (JWT)
# ==========================================
JWT_SECRET="cambia-este-secreto-por-una-clave-larga-y-segura-en-produccion-min-256bits"
JWT_EXPIRATION="15m"
JWT_REFRESH_SECRET="cambia-este-refresh-secret-por-una-clave-larga-y-segura"
JWT_REFRESH_EXPIRATION="7d"

# ==========================================
# CACHE Y COLAS (REDIS / BULLMQ)
# ==========================================
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

# ==========================================
# SERVIDOR
# ==========================================
PORT=3001
NODE_ENV="development"
